<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>kuso-subdomain-adder</title>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</head>
	<body>
    <h2>サブドメイン追加野郎 ver{{ version }}</h2>
		<br/>
    <form action="/api/add_subdomain" method="post" target="kuso" onsubmit="setTimeout(function(){window.location.reload()}, 100)")>
			<h3>サブドメイン</h3>
			<input type="text" name="subdomain">

			<br/>
			<h3>URL</h3>
			<input type="text" name="url">

			<br/>
			<input type="submit" value="追加">

      <br/>
      <h4>今カスなんでツイートボタンが出るまで追加ボタン押すかんじでお願いします</h4>
		</form>
    <iframe name="kuso" style="width:0px;height:0px;border:0px;"></iframe>
    {% if url %}
      <br/>
      <h2>URL: <a href="{{ url  }}">{{ url_visual }}</a></h2>

      <div class="twitter">
        <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ url }}" data-text="{{ share_text }}" data-lang="ja">ついーと</a>
      </div>
    {% endif %}
	</body>
</html>
