[Unit]
Description=kuso-subdomain-adder Deployment

[Service]
Type=simple
Restart=always

Environment=DEPLOY_SCRIPT=/home/sksat/srv/kuso-subdomain-adder/deploy.sh
ExecStart=bash ${DEPLOY_SCRIPT} start
ExecStop=bash ${DEPLOY_SCRIPT} stop
ExecReload=bash ${DEPLOY_SCRIPT} update

[Install]
WantedBy=default.target
